<h3>Login Page</h3>
<% if @errors %>
   <% @errors.each do |error| %>
     <p><%= error %></p>
   <% end %>
 <% end %>

<form action="/sessions" method="POST">
  <input type='text' name='username' placeholder="username">
  <input type='password' name='password' placeholder="password">
  <input type='submit' value='Login' class="btn btn-info">
</form>

