
  <h3>Add Students</h3>

  <a href="/students">see all students</a><br>
  

  <div>&nbsp;</div>
  <div>Enter student name:</div>

  <form action="/students/new" method="post">
    <div><input type="text" class="form-control" name="student[name]"></div>
    <div>
    <div>&nbsp;</div>
    <input type="submit" class="btn btn-primary" value="submit">
  </form>
  </div>

