students/new

<div class="container">

  <a href="/students">see all students</a><br>
  <a href="/students/send"> no more students to enter</a>

  <div>&nbsp;</div>
  <div>Enter student name:</div>

  <form action="/students/new" method="post">
    <!-- <div class="form-group" > -->
  <div><input type="text" class="form-control" name="student[name]"></div>
  <div>
    <!-- <div class="form-group"> -->
  <div>&nbsp;</div>
  <button type="button" class="btn btn-lg btn-primary">Submit</button>
      <!-- <input type="submit" value="submit"></div> -->
  </form>
  </div>



</div>
