<h3>Create a New User</h3>

<% if @errors %>
   <% @errors.each do |error| %>
     <p><%= error %></p>
   <% end %>
 <% end %>

<form action="/users" method="POST">
  <div class="form-group">
  <div class="col-sm-10">
  <input type='text' name='user[first_name]' placeholder="first name">
  </div>
  <div class="col-sm-10">
  <input type='text' name='user[last_name]' placeholder="last name">
  </div>
  <div class="col-sm-10">
  <input type='text' name='user[username]' placeholder="username">
  </div>
  <div class="col-sm-10">
  <input type='text' name='user[email]' placeholder="email">
  </div>
  <div class="col-sm-10">
  <input type='password' name='user[password]' placeholder="password">
  </div>
  <div class="col-sm-10">
  <input type='password' name='password_confirmation' placeholder="confirm password">
  </div>
  <div class="col-sm-10">
  <input type='submit' value='Register' class="btn btn-info">
  </div>
  </div>
</form>