<h4>User Profile Page</h4>
<h5> <%= @user.first_name %> <%= @user.last_name %> </h5>
<ul>
  <li><a href="/students">show all students</a></li>
  <li><a href="/students/new">add a student</a></li>
</ul>
